body{
  background: url(./assets/depositphotos_38093605-stock-illustration-art-stuff-vector-seamless-pattern.jpg);
  background-repeat: repeat;
}
.heading{
  text-align: center;
}

.form__search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form__search-box-label, .search-submit-btn-label, .clear-graph-btn-label {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.search-submit-btn-label, .clear-graph-btn-label {
  position: relative;
  top: -3px;
}
.form__search-box {
  width: 21rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.search-submit-btn, .display-button {
  width: 7rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  border-radius: 10px
}

.display-button {
  width: 9rem;
}

.display{
  text-align: center;
}

.display__title, .heading__title, .heading__subtitle {
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  display: inline-block;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}

.heading__subtitle {
  position: relative;
  margin-top: -15px;
  font-size: 1.5rem;
}

.display__info{
  margin: 0 auto;
}

.plot-container {
  margin: 0 auto;
}
.plotly{
  margin: 0 auto;
}

div.svg-container{
  margin: 0 auto;
}

.hide {
  display: none;
}

@media screen and (max-width: 500px) {
  .form__search-box {
    width: 12rem;
  }
  .search-submit-btn {
    width: 5rem;
  }
}
